<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Corona Virus Tracker</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>
    <link rel="stylesheet" type="text/css" href="/css/style.css">
    <style>
            .masthead {
            height: 100vh;
            min-height: 500px;
            background-image: url('https://www.pngitem.com/pimgs/m/107-1074294_world-map-hd-high-resolution-grey-hd-png.png');
            background-size: cover;
            background-position: center;
            background-repeat: repeat;
            background-attachment: float;
            }
            .table-fixed tbody {
            height: 500px;
            overflow-y: auto;
            width: 100%;
            }
            .table-fixed thead,
            .table-fixed tbody,
            .table-fixed tr,
            .table-fixed td,
            .table-fixed th {
            display: block;
            }
            .table-fixed tbody td,
            .table-fixed tbody th,
            .table-fixed thead > tr > th {
            float: left;
            position: relative;
            &::after {
            content: '';
            clear: both;
            display: block;
            }
            }
        </style>
</head>
<body class="sb-nav-fixed">
<nav class="sb-topnav navbar navbar-expand navbar-dark bg-dark">
    <a class="navbar-brand" href="#dashboard">COVID-19 Tracker</a><button class="btn btn-link btn-sm order-1 order-lg-0" id="sidebarToggle" href="#"><i class="fas fa-bars"></i></button
>
</nav>
<div id="layoutSidenav">
    <div id="layoutSidenav_nav">
        <nav class="sb-sidenav accordion sb-sidenav-dark" id="sidenavAccordion">
            <div class="sb-sidenav-menu">
                <div class="nav">
                    <br><br>
                    <a class="nav-link" href="#dashboard">
                        <div class="sb-nav-link-icon"><i class="fas fa-tachometer-alt"></i></div>
                        Home
                    </a>

                    <a class="nav-link" href="#charts">
                        <div class="sb-nav-link-icon"><i class="fas fa-tachometer-alt"></i></div>
                        Charts
                    </a>
                    <a class="nav-link" href="#global">
                        <div class="sb-nav-link-icon"><i class="fas fa-tachometer-alt"></i></div>
                        Global
                    </a>
                </div>
            </div>
            <div class="sb-sidenav-footer">
                <div class="small">Developed by</div>
                Aditya Tumarada
            </div>
        </nav>
    </div>
    <div id="layoutSidenav_content">
        <main>
            <div class="container-fluid">
                <h1 class="mt-4">Dashboard</h1>
                <ol class="breadcrumb mb-4">
                    <li class="breadcrumb-item active" th:text="${date}"></li>
                </ol>
                <div class="row" id="dashboard">
                    <div class="col-xl-3 col-md-6">
                        <div class="card bg-primary text-white mb-4">
                            <div class="card-body" th:text="${confirmed}"></div>
                            <div class="card-footer d-flex align-items-center justify-content-between">

                                <div class="small text-white" >Confirmed</div>
                            </div>
                        </div>
                    </div>
                    <div class="col-xl-3 col-md-6">
                        <div class="card bg-warning text-white mb-4">
                            <div class="card-body" th:text="${active}"></div>
                            <div class="card-footer d-flex align-items-center justify-content-between">
                                <div class="small text-white"><i class="fas fa-angle-right">Active Cases</i></div>
                            </div>
                        </div>
                    </div>
                    <div class="col-xl-3 col-md-6">
                        <div class="card bg-success text-white mb-4">
                            <div class="card-body" th:text="${recovered}"></div>
                            <div class="card-footer d-flex align-items-center justify-content-between">
                                <div class="small text-white">Recovered</div>
                            </div>
                        </div>
                    </div>
                    <div class="col-xl-3 col-md-6">
                        <div class="card bg-danger text-white mb-4">
                            <div class="card-body" th:text="${deaths}"></div>
                            <div class="card-footer d-flex align-items-center justify-content-between">
                                <div class="small text-white">Deaths</div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row" id="charts">
                    <div class="col-xl-6">
                        <div class="card mb-4">
                            <div class="card-body">
                                <div id="container1" class="card-body" ></div>
                            </div>
                            <script src="https://code.highcharts.com/highcharts.js"></script>
                            <script th:inline="javascript">
                                $(function(){
                                Highcharts.chart('container1', {
                                    chart: {
                                        type: 'column'
                                    },
                                    title: {
                                        text: 'Global'
                                    },
                                    xAxis: {
                                        categories: [[${dates}]],

                                    },
                                    yAxis: {

                                        title: {
                                            text: 'Reported Cases'
                                        }
                                    },
                                    tooltip: {
                                        headerFormat: '<span style="font-size:10px">{point.key}</span><table>',
                                        pointFormat:  '<td><b>{point.y}</b></td></tr>',
                                        footerFormat: '</table>',
                                        shared: true,
                                        useHTML: true
                                    },
                                    plotOptions: {
                                        column: {
                                            pointPadding: 0.2,
                                            borderWidth: 0
                                        }
                                    },
                                    series: [{
                                        name: 'date',
                                        data:  [[${global}]]
                                    }]
                                });
                                });
                            </script>

                        </div>
                    </div>
                    <div class="col-xl-6">
                        <div class="card mb-4">
                            <div class="card-body">
                                <div id="container2" class="card-body" ></div>
                            </div>
                            <script src="https://code.highcharts.com/highcharts.js"></script>
                            <script th:inline="javascript">
                                $(function(){
                                Highcharts.chart('container2', {
                                    chart: {
                                        type: 'column'
                                    },
                                    title: {
                                        text: ' India'
                                    },
                                    xAxis: {
                                        categories: [[${dates}]],

                                    },
                                    yAxis: {

                                        title: {
                                            text: 'Reported Cases'
                                        }
                                    },
                                    tooltip: {
                                        headerFormat: '<span style="font-size:10px">{point.key}</span><table>',
                                        pointFormat:  '<td><b>{point.y}</b></td></tr>',
                                        footerFormat: '</table>',
                                        shared: true,
                                        useHTML: true
                                    },
                                    plotOptions: {
                                        column: {
                                            pointPadding: 0.2,
                                            borderWidth: 0
                                        }
                                    },
                                    series: [{
                                        name: 'date',
                                        data:  [[${india}]]
                                    }]
                                });
                                });
                            </script>

                        </div>
                    </div>

                </div>
                <div class="card mb-4" id ="global">
                    <div class="card-header"><i class="fas fa-table mr-1"></i>Global Statistics</div>
                    <div class="card-body">
                        <div class="row">
                            <input type="text" class="col-lg-12 form-control form-control-lg mb-4" id="myInput" onkeyup="myFunction()" placeholder="Search for State or Country" >
                            <div class="col-lg-12 mx-auto bg-white rounded shadow">
                                <!-- Fixed header table-->
                                <div class="table-responsive">
                                    <table class="table table-fixed">
                                        <thead>
                                        <tr>
                                            <th scope="col" class="col-3">State/Province</th>
                                            <th scope="col" class="col-3">Country/Region</th>
                                            <th scope="col" class="col-1">Active</th>
                                            <th scope="col" class="col-2">Recovered</th>
                                            <th scope="col" class="col-1">Deaths</th>
                                            <th scope="col" class="col-2">Increase</th>
                                        </tr>
                                        </thead>
                                        <tbody id="myTable">
                                        <tr th:each="locationStat : ${locationStats}">
                                            <td colspan="2" class="col-3" th:text="${locationStat.state}"></td>
                                            <td colspan="2" class="col-3" th:text="${locationStat.country}"></td>
                                            <td colspan="2" class="col-1" th:text="${locationStat.latestCases-locationStat.recoverd-locationStat.deaths}" >0</td>
                                            <td colspan="2" class="col-2" th:text="${locationStat.recoverd}" >0</td>
                                            <td colspan="2" class="col-1" th:text="${locationStat.deaths}" >0</td>
                                            <td colspan="2" class="col-2" th:text="${locationStat.changeCases}" >0</td>
                                        </tr>
                                        </tbody>
                                    </table>
                                </div>
                                <!-- End -->
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </main>
    </div>
</div>
<script src="https://code.jquery.com/jquery-3.4.1.min.js" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.bundle.min.js" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.8.0/Chart.min.js" crossorigin="anonymous"></script>
<script>
    $(document).ready(function(){
      $("#myInput").on("keyup", function() {
        var value = $(this).val().toLowerCase();
        $("#myTable tr").filter(function() {
          $(this).toggle($(this).text().toLowerCase().indexOf(value) > -1)
        });
      });
    });
    </script>
</body>
</html>